@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


:root {
    --primary-color: #FF7F31;
    --black-color: rgb(26, 26, 26);
    --white-color: #fff;
    --box-shadow: 0 0 5px rgb(210, 210, 210);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    /* color: var(--primary-color); */
    background: #f2f4f8;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    width: 100px;
}

.im {
    width: 500px;
}

.btn {
    background: var(--primary-color);
    color: var(--white-color);
    padding: 8px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

section {
    padding: 70px 0;


}

.container {
    width: 1320px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.p-40 {
    padding: 40px;
}

.p-20 {
    padding: 20px;
}

.mt-15 {
    margin-top: 15px;
}

.mb-20 {
    margin-bottom: 30px;
}

.grid-eight {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
}

.grid-five {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.card {
    background: #fff;
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    overflow: hidden;
}

.heading {
    margin-bottom: 40px;
    text-align: center;
}

.cloumn-half {
    flex-basis: 50%;
}

.row {
    display: flex;
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


/*menu section start*/
.menu {
    background: var(--white-color);
    box-shadow: var(--box-shadow);
    padding: 10px 0;
}

.menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.logo {
    width: 120px;
    display: flex;
}

.navber ul {
    display: flex;
    gap: 20px;
    justify-content: right;
}

.navber ul li .active {
    color: var(--primary-color);

}

.navber ul li a {
    color: var(--black-color);
}

.navber ul li a:hover {
    color: var(--primary-color);
}

.menu-btn {
    background-color: var(--primary-color);
    padding: 8px 20px;
    color: var(--white-color);
    border-radius: 20px;
}

#menu_btn {
    display: none;
}

.menu-btn:hover {
    background: var(--black-color);
}

.menu__btn {
    display: flex;
    gap: 5px;
}


/*menu section end*/

/*banner section start*/

.banner {
    background-color: pink;
    /* margin: 60px; */
    /* border-radius: 10px; */

}

.slider-area {
    position: relative;

}

.banner .slider-arrows {
    position: absolute;
    /* width: 100%; */
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 99;

}

.banner .slider-item {
    padding: 120px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.banner .banner-area h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.banner .banner-area p {
    font-size: 20px;
    margin-bottom: 20px;
}



/*banner section end*/

/* slidert dots start */

.slick-arrow {
    width: 30px;
    height: 20px;
    background-color: var(--black-color);
    color: var(--white-color);

}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;

}

.slick-dots li {
    margin: 0 0.25rem;
}

.slick-dots button {
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;

    border-radius: 100%;
    background-color: var(--black-color);
    text-indent: -9999px;

}

.slick-dots li.slick-active button {
    background-color: var(--primary-color);
}

/* slider dotes end */

/* category area start */

.category-area a {
    width: 100%;
}

.category-area .card .image img {
    width: 48px;
    height: 48px;
}

/* category area end */



/* product area start */

.product-area img {
    width: 100%;
}

.product-area .card .image img {
    /* width: 228px;
    height: 228px; */

    border-bottom: 3px solid rgba(55, 73, 187, .03);
}

.product .price {
    color: var(--primary-color);

    font-weight: 500px;
}

.product .sku a {
    color: var(--primary-color);
    font-weight: 500px;
}

/* category area end */

/* footer area start */
.footer {
    background: #000;
    color: var(--white-color);
}

.footer .widget a {
    color: #666;
}

.footer .widget .footer-big-btn {
    display: block;

    padding: 10px 0;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, .1);
}

.widget .helpline-btn {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 30px;
}

.widget .helpline-btn i {
    font-size: 20px;
    line-height: 40px;
    padding: 0 10px 0 20px;
    /* margin-right: 20px; */
    border-right: 1px solid #333;
    color: var(--white-color);
}

.widget .helpline-btn h5 {
    color: #FF7F31;
    margin: 0;
    font-size: 20px;
    line-height: 28px;
    font-weight: normal;
}

.widget .footer-menu ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.widget .footer-menu ul li a {
    font-size: 14px;
}

.widget .footer-menu ul li a:hover {
    color: var(--primary-color);
}

.widget .address p {
    font-size: 14px;
    color: #666;
}

.widget .address p span {
    display: block;
    color: var(--white-color);
    font-size: 15px;
    line-height: 1.7;
}



/* footer area end */

/* responsive */

@media only screen and (max-width: 1024px) {

    .container {
        width: 100%;
        padding: 0 5%;
    }

    .grid-eight {
        grid-template-columns: repeat(6, 1fr);
    }

    .grid-five {
        grid-template-columns: repeat(4, 1fr);
    }

    .footer-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 768px) {

    #menu_btn {
        display: inline-block;
    }

    .navber {
        position: absolute;
        top: 100%;
        right: 5%;
        width: 250px;
        background-color: var(--white-color);
        z-index: 9999;

        opacity: 0;
        visibility: hidden;
    }

    .navber.show {
        transition: all .3s linear;
        visibility: visible;
        opacity: 1;
    }

    .navber ul {
        flex-direction: column;
        gap: 0;

    }

    .navber ul a {
        padding: 10px;
        display: block;
    }

    .navber ul a:hover {
        background: #000;
    }

    .grid-eight {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid-five {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }


}

@media only screen and (max-width: 425px) {

    .slider-area {
        display: none;
    }

    .grid-eight {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-five {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 320px) {
    .grid-eight {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-five {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}